
nav{
	border-radius: 0px 5px 5px 0px;
position: fixed;
width: 10%;
min-width: 50px;
height: 70%;
z-index: 5;
background-position: center center;
background-color: #fff;
top: 15%;
border: 1px solid #aaa;
}
/* nav menu */
ul#menuNavegacion{
    width: 100%;
}
ul#menuNavegacion li,
ul#menuNavegacion ul {
    /* background-color: #FFFFFF; */
    float: left;

}

ul#menuNavegacion:after /*From IE 7 lack of compliance*/{
    clear: both;
    display: block;
    font: 1px/0px serif;
    content: ".";
    height: 0;
    visibility: hidden;
}

ul#menuNavegacion li {
    float: left; /*For IE*/
    position: relative;
    list-style-type: none;
    width: 100%;
    height: 12%;
    border-bottom: 1px solid #AAA;
    line-height: 15pt;
    display: block;
}

ul#menuNavegacion li:last-child{
border-bottom: none;
}
/******************************************************************
basado en los menus desplegables de las paginas de la   UNAM
*****************************************************************/

#menuNavegacion li ul li {
    float: left; /*For IE*/
    position: relative;
    list-style-type: none;
    width: 100%;
    border-bottom: 1px solid #aaa;
    line-height: 15pt;
    display: block;
}




/* Root Menu */
ul#menuNavegacion a {
    display: block;
    height: 100%;
    text-decoration: none;
    padding: 5px 0 0px 10px;
}

/* Root Menu Hover Persistence */
ul#menuNavegacion a:hover,
ul#menuNavegacion li:hover a,
ul#menuNavegacion li.iehover a {
	

}

/* 2nd Menu */
ul#menuNavegacion li:hover li a,
ul#menuNavegacion li.iehover li a {
    color: #333;
       
}

/* 2nd Menu Hover Persistence */
ul#menuNavegacion li:hover li a:hover,
ul#menuNavegacion li:hover li:hover a,
ul#menuNavegacion li.iehover li a:hover,
ul#menuNavegacion li.iehover li.iehover a {
    
/*    font-size: 12px; */
    color: #333;
    background-color: rgb(81, 199, 194);/*  width: 188px;*/
/*
  background: #CCC;
  color: #FFF;
  */
}

/* 3rd Menu */
ul#menuNavegacion li:hover li:hover li a,
ul#menuNavegacion li.iehover li.iehover li a {
    color: #113e79;
    padding-left: 5px;
    background-color: #f0f6fe;/*  width: 188px;*/
}

/* 3rd Menu Hover Persistence */
ul#menuNavegacion li:hover li:hover li a:hover,
ul#menuNavegacion li:hover li:hover li:hover a,
ul#menuNavegacion li.iehover li.iehover li a:hover,
ul#menuNavegacion li.iehover li.iehover li.iehover a {
    
/*    font-size: 12px; */
    color: #0d283f;
    background-color: #e7e5e5;
}

/* 4th Menu */
ul#menuNavegacion li:hover li:hover li:hover li a,
ul#menuNavegacion li.iehover li.iehover li.iehover li a {
    background: #2e79ba;
    color: #fff;
    padding-left: 5px;
/*  width: 188px;*/
}

/* 4th Menu Hover */
ul#menuNavegacion li:hover li:hover li:hover li a:hover,
ul#menuNavegacion li.iehover li.iehover li.iehover li a:hover {
    
/*    font-size: 12px; */
    color: #FF9900;
/*
  background: #CCC;
  color: #FFF;
  */
}

ul#menuNavegacion ul,
ul#menuNavegacion ul ul,
ul#menuNavegacion ul ul ul {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    border: 1px solid #aaa;
    border-radius: 0px 4px 4px 0px;
    background: white url("../images/doted.png");
width: 180px;
  
}

/* Do Not Move - Must Come Before display:block for Gecko */
ul#menuNavegacion li:hover ul ul,
ul#menuNavegacion li:hover ul ul ul,
ul#menuNavegacion li.iehover ul ul,
ul#menuNavegacion li.iehover ul ul ul {
    display: none;
}

ul#menuNavegacion li:hover ul,
ul#menuNavegacion ul li:hover ul,
ul#menuNavegacion ul ul li:hover ul,
ul#menuNavegacion li.iehover ul,
ul#menuNavegacion ul li.iehover ul,
ul#menuNavegacion ul ul li.iehover ul {
    display: block;
}

/************************************************/


#banner{
  line-height: 1.5;
padding-left: 30px;
position: relative;
top: 20%;
width: 960px;
margin: 0 auto;
background: rgba(34, 34, 34, 0.5);
}
a{	
	cursor: pointer;
	text-decoration: none;
	color: #333;
}
a:hover{
	color: #FFF;
	background-color: rgb(81, 199, 194);
}



#logo img{
	position: absolute;
	top: 3px;
	height: 83px;
	margin: 0 auto;
	left: 20%;
}
.sub{
	position: relative;
	left: 15%;
	width: 80%;
	height: 100%;

}